ion-icon.icon-sm {
    font-size: 1.2em;
}

ion-fab.add {
    top: 74%;
}

ion-spinner {
    display: block;
    margin: auto;
}

ion-fab.player {
    width: 41%;
    display: flex;
    justify-content: space-between;
    // justify-content: space-around;
}
.logo-container {
    display: flex;
    justify-content: center;

    img {
        width: 60vw;
    }
}

.connected {
    color: green;
    background: black;
}

.disconnected {
    color: #f53d3d;
    background: black;
}

@import "pua";
