<ng-container *ngIf="serverStats$ | async as serverStats">
    <ion-header>
        <ion-fab vertical="top" horizontal="start">
            <ion-fab-button size="small" size="small" color="dark" [routerLink]="['/config']">
                <ion-icon name="construct" role="img" aria-label="config">
                </ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" color="dark" *ngIf="!connected" (click)="showServerStats()">
                <ion-icon name="cloud" size="small" color="danger"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" color="dark" *ngIf="connected" (click)="showServerStats()">
                <ion-icon name="cloud" size="small" color="success"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <app-temperature></app-temperature>
    </ion-header>

    <ion-content class="dark">
        <app-player-stats [stats]="serverStats"></app-player-stats>
    </ion-content>

    <ion-footer translucent="true">
        <ion-grid>
            <ion-row>
                <ion-col size="3" size-lg color="light">
                    <ion-fab-button size="small" [color]="(serverStats.playlist ? 'warning' : 'dark')"
                                    (click)="togglePlayList()">
                        <ion-icon name="infinite"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="6" size-lg>
                    <ion-fab vertical="center" horizontal="center">
                        <ion-fab-button color="danger" [routerLink]="['/search']">
                            <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>
                <ion-col size="3" size-lg>
                    <ion-fab horizontal="end">
                        <ion-fab-button color="dark" size="small"
                                        [disabled]="serverStats.status === 'stopped' || serverStats.status === 'loading'"
                                        (click)="volume({ volume: 'up' })">
                            <ion-icon name="volume-high"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3" size-lg>
                    <ion-fab-button color="dark" size="small" [routerLink]="['/list']">
                        <ion-icon name="list"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="6" size-lg>

                </ion-col>
                <ion-col size="3" size-lg>
                    <ion-fab horizontal="end">
                        <ion-fab-button color="dark" size="small"
                                        [disabled]="serverStats.status === 'stopped' || serverStats.status === 'loading'"
                                        (click)="volume({ volume: 'down' })">
                            <ion-icon name="volume-low"></ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3" size-lg>
                    <ion-fab-button color="dark" size="small" dark
                                    [disabled]="serverStats.videoId === null || serverStats.status === 'playing' || serverStats.status === 'loading'"
                                    (click)="playPrev()">
                        <ion-icon name="play-skip-back" role="img" aria-label="skip backward">
                        </ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="3" size-lg>
                    <ion-fab-button color="dark" size="small"
                                    [disabled]="serverStats.videoId === null || serverStats.status === 'playing' || serverStats.status === 'loading'"
                                    (click)="playNext()">
                        <ion-icon name="play-skip-forward" role="img" aria-label="skip forward">
                        </ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="3" size-lg>
                    <ion-fab-button color="dark" size="small" [disabled]="serverStats.status === 'loading'"
                                    class="button button-md button-default button-default-md" (click)="stopAll()">
                        <ion-icon name="stop" role="img" class="icon icon-md ion-md-square" aria-label="stop">
                        </ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="3" size-lg class="ion-justify-content-end">
                    <ion-fab horizontal="end">
                        <ion-fab-button color="dark" size="small" [disabled]="serverStats.status === 'loading'"
                                        (click)="playPause()">
                            <ion-icon *ngIf="serverStats.status === 'paused' || serverStats.status === 'stopped'"
                                      name="play" role="img" aria-label="play"></ion-icon>
                            <ion-icon *ngIf="serverStats.status === 'playing' || serverStats.status === 'loading'"
                                      name="pause" role="img" aria-label="pause">
                            </ion-icon>
                        </ion-fab-button>
                    </ion-fab>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-footer>
</ng-container>