<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="playerStats$ | async stats">
  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button color="danger" (click)="onShowAddModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="video-info-lista">
    <app-vynil-thumbnail>
      <img
        class="video-img"
        *ngIf="playerStats?.videoInfo?.img"
        [src]="playerStats?.videoInfo?.img"
        [alt]="playerStats?.videoInfo?.title"
      />
    </app-vynil-thumbnail>
    <div class="video-title">{{ playerStats?.videoInfo?.title }}</div>
  </div>
  <ion-searchbar
    class="filtro"
    (ionInput)="getItems($event)"
    placeholder="Filtrar"
    cancelButtonText="Limpiar"
  >
  </ion-searchbar>
  <app-modal
    [image]="modalThumbImage"
    [isOpen]="(isThumbModalOpen | async)"
    (modalClose)="onThumbModalClose($event)"
  >
    <ion-content>
      <div class="thumbnail-container">
        <ion-img class="youtube-thumbnail" [src]="modalThumbImage"></ion-img>
      </div>
    </ion-content>
  </app-modal>
  <app-modal
    [isOpen]="(isAddModalOpen | async)"
    (modalClose)="onAddModalClose($event)"
    (modalAccept)="onAddModalAccept($event)"
  >
    <!-- <app-page-add></app-page-add> -->
    <app-page-search></app-page-search>
  </app-modal>
  <ion-list>
    <ion-item *ngIf="videos?.length === 0">No hay videos en la lista</ion-item>
    <ion-item
      *ngFor="let video of videos; let i = index"
      (click)="showOptions(video?.videoId)"
    >
      <ion-thumbnail slot="start">
        <ion-img
          [src]="video.videoInfo.img"
          alt="video.videoInfo.title"
          (click)="onShowThumbModal(video.videoInfo.img)"
        ></ion-img>
      </ion-thumbnail>
      <ion-label
        [ngClass]="{'playing': video?.videoInfo?.videoId === playerStats?.videoId && isPlaying}"
      >
        {{ video.order }} {{ video.videoInfo.title }} {{
        video.videoInfo?.duration ? '(' + video.videoInfo.duration + ')' : '' }}
      </ion-label>
      <!-- <ion-icon
        *ngIf="i > 0"
        (click)="moveToTop(video?.videoId)"
        name="arrow-round-up"
        slot="end"
        color="secondary"
      >
      </ion-icon> -->
      <!-- <ion-icon *ngIf="video?.order < videos.length" (click)="swapToTop(video?.videoId)" name='git-compare' class="rotateCW"
                    slot="end" color="secondary"></ion-icon> -->
      <!-- <ion-icon
        
        name="trash"
        slot="end"
        color="primary"
      ></ion-icon> -->
    </ion-item>
  </ion-list>

  <!-- <ion-fab bottom center>
        <ion-fab-button ion-fab color="dark">
            <ion-icon name="arrow-down" role="img"down" aria-label="arrow-down"down" (click)="scrollToBottom()">
            </ion-icon>
        </ion-fab-button>
    </ion-fab> -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" #fab>
    <ion-fab-button ion-fab color="dark">
      <!-- <ion-icon name="add" role="img" aria-label="add">
            </ion-icon> -->
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" *ngIf="isPlaying || isPaused">
      <ion-fab-button
        size="small"
        [disabled]="isStopped"
        (click)="volume('down')"
      >
        <ion-icon name="volume-low-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button
        size="small"
        [disabled]="isStopped"
        (click)="volume('up')"
      >
        <ion-icon name="volume-high-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button
        size="small"
        (click)="playPause()"
        *ngIf="isStopped || isPaused || isIdle"
      >
        <ion-icon name="play" role="img" aria-label="play"></ion-icon>
      </ion-fab-button>
      <ion-fab-button size="small" (click)="playPause()" *ngIf="isPlaying">
        <ion-icon name="pause" role="img" aria-label="pause"></ion-icon>
      </ion-fab-button>

      <ion-fab-button
        size="small"
        (click)="stopAll()"
        *ngIf="isPlaying || isPaused"
        [disabled]="isPlaying"
      >
        <ion-icon name="stop" role="img" aria-label="stop"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button size="small" [disabled]="playerStats?.videoId === null"
                 (click)="playNext()">
                <ion-icon name="skip-forward" role="img"forward"
                          aria-label="skipforward"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" dark [disabled]="playerStats?.videoId === null"
                 (click)="playPrev()">
                <ion-icon name="skip-backward" role="img"backward"
                          aria-label="skipbackward"></ion-icon>
            </ion-fab-button> -->
    </ion-fab-list>
  </ion-fab>
</ion-content>
