page-list {

    @keyframes playing {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .playing {
        animation: playing 1s ease infinite;
    }

}
