<ion-header>
  <ion-toolbar>
    <ion-title>Lantube dapp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form
    [formGroup]="userForm"
    (ngSubmit)="submitForm()"
    novalidate
    autocomplete="off"
  >
    <div>
      Address: {{ user.address }} <br />
      Balance: {{ user.balance }} Eth
    </div>
    <ion-list>
      <ion-item>
        <ion-label>Transfer Address</ion-label>
        <ion-input
          name="transferAddress"
          formControlName="transferAddress"
          maxlength="42"
          minlength="42"
          required
        ></ion-input>
      </ion-item>
      <ion-text
        color="danger"
        *ngFor="let validation of accountValidationMessages.transferAddress"
      >
        <span
          *ngIf="
            userForm.get('transferAddress').hasError(validation.type) &&
            (userForm.get('transferAddress').dirty ||
              userForm.get('transferAddress').touched)
          "
        >
          {{ validation.message }}
        </span>
      </ion-text>
      <ion-item>
        <ion-label>Amount</ion-label>
        <ion-input name="amount" formControlName="amount" required></ion-input>
        <ion-text
          color="danger"
          *ngFor="let validation of accountValidationMessages.amount"
        >
          <span
            *ngIf="
              userForm.get('amount').hasError(validation.type) &&
              (userForm.get('amount').dirty || userForm.get('amount').touched)
            "
          >
            {{ validation.message }}
          </span>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Remarks</ion-label>
        <ion-input
          name="remarks"
          formControlName="remarks"
          maxlength="42"
          required
        ></ion-input>
        <ion-text
          color="danger"
          *ngFor="let validation of accountValidationMessages.remarks"
        >
          <span
            *ngIf="
              userForm.get('remarks').hasError(validation.type) &&
              (userForm.get('remarks').dirty || userForm.get('remarks').touched)
            "
          >
            {{ validation.message }}
          </span>
        </ion-text>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-button type="submit" (click)="submitForm()">Transfer Ether</ion-button>
</ion-footer>
