ion-icon.icon-sm {
    font-size: 1.2em;
}

ion-fab.add {
    top: 74%;
}

ion-spinner {
    display: block;
    margin: auto;
}

ion-fab.player {
    width: 41%;
    display: flex;
    justify-content: space-between;
    // justify-content: space-around;
}

.video-img-container {
    #record-cover {
        width: 100px;
        position: absolute;
        top: -30px;
        margin-left: 40px;
        z-index: 9;
    }

    background: #c56649;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    left: 20px;

    img {
        width: 5.3rem;
        height: auto;

        position: absolute;
        top: 0;
        margin-left: 54px;

        transform: perspective(360px) rotateY(47.6deg) rotateZ(-23deg) rotateX(0deg);
        transform-origin: 50% 50%;
        mix-blend-mode: hard-light;

        z-index: 10;
    }
}

.video-info {
    display: flex;
    justify-content: center;
    margin: 0 4rem;

    .artist {
        color: white;
        font-weight: 800;
        font-size: .5rem;
        text-align: center;
    }
}