<ion-header>
    <ion-toolbar color="dark">
        <app-logo></app-logo>
        <ion-fab vertical="top" horizontal="start">
            <ion-fab-button size="small"  
            (click)="openConfigPage()">
                <ion-icon name="build-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>  

        <ion-fab vertical="top" horizontal="end">
            <ion-fab-button size="small"  color="light" [class.connected]="connected" [class.disconnected]="!connected">
                <ion-icon name="cloud" size="small" class="connected"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-toolbar>
</ion-header>
<ion-content color="dark" padding>
    <!-- <temperature></temperature> -->

    <!-- <pre>
        {{ ds18b20Temp | json }}
    </pre> -->

    <ion-fab class="add" horizontal="center" vertical="center">
        <ion-fab-button  color="danger" (click)="openSearchPage()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="video-img-container">
        <img *ngIf="playerStats?.videoInfo?.img" class="video-img" src="{{ playerStats?.videoInfo?.img }}"
             alt="{{ playerStats?.videoInfo?.title }}">

        <svg version="1.1" id="record-cover" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="107px" height="160px"
             viewBox="0 0 107 160" enable-background="new 0 0 107 160" xml:space="preserve">
            <polygon fill="#C66749" points="0,38.843 83.131,0 107.534,100.56 40.395,160.295 " />
        </svg>
    </div>
    
    <app-record-player [stats]="playerStats"></app-record-player>

    <ion-spinner *ngIf="playerStats?.status === 'loading'" color="primary"></ion-spinner>

    <div *ngIf="playerStats" class="video-info">
        <span *ngIf="playerStats?.videoInfo?.title" class="artist">
            {{ playerStats.videoInfo.order }} {{ playerStats.videoInfo.title }}
        </span>
    </div>
    <ion-fab hoizontal="start" vertical="center">
        <ion-fab-button color="{{ playerStats?.playlist ? 'secondary' : 'dark' }}" size="small"
                 (click)="setPlaylistMode()">
            <ion-icon name="infinite"></ion-icon>
        </ion-fab-button>
        <br>
        <ion-fab-button color="dark" size="small" 
                (click)="openListPage()">
            <ion-icon name="list"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab horizontal="start" vertical="bottom" class="player">
        <ion-fab-button color="dark" size="small" dark [disabled]="playerStats?.videoId === null"
                 (click)="playPrev()">
                <ion-icon name="play-skip-back-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" size="small" [disabled]="playerStats?.videoId === null"
                 (click)="playNext()">
                <ion-icon name="play-skip-forward-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab horizontal="end" vertical="bottom" class="player">
        <ion-fab-button color="dark" size="small" [disabled]="playerStats?.status !== 'playing'"
                 (click)="stopAll()">
            <ion-icon name="stop" role="img" class="icon icon-md ion-md-square" aria-label="stop"
                      ng-reflect-name="stop"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" size="small" 
                style="transition: none;" (click)="playPause()">
            <ion-icon *ngIf="playerStats?.status === 'loading' || playerStats?.status === 'paused' || playerStats?.status === 'stopped'"
                      name="play" role="img" class="icon icon-md ion-md-play" aria-label="play" ng-reflect-name="play">
            </ion-icon>
            <ion-icon *ngIf="playerStats?.status === 'playing'" name="pause" role="img"
                      class="icon icon-md ion-md-pause" aria-label="pause" ng-reflect-name="pause"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab horizontal="end" vertical="center">
        <ion-fab-button color="dark" size="small"
                [disabled]="playerStats?.status !== 'playing' && playerStats?.status !== 'paused'"
                 (click)="volume('up')">
                <ion-icon name="volume-high-outline"></ion-icon>
        </ion-fab-button>
        <br>
        <ion-fab-button color="dark" size="small"
                [disabled]="playerStats?.status !== 'playing' && playerStats?.status !== 'paused'"
                 (click)="volume('down')">
                <ion-icon name="volume-low-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>


<!-- </ion-fab-list> -->