ion-icon.icon-sm {
  font-size: 1.2em;
}

ion-fab#player {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.logo-container {
    display: flex;
    justify-content: center;

    svg {
        width: 60vw;
    }
}

svg#player {
    width: 100px;
    height: 100px;
}

.record-player-container {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
}

svg#vinyl {
    transform-style: preserve-3d;
    transform: rotateX(-60deg) rotateY(0deg);

    position: absolute;
    left: auto;
    top: -6px;
    height: 90px;
    width: 90px;

    path {
        &:not(:last-child) {
                stroke-dasharray: 13px;
                stroke-dashoffset: 23px;
        }
        stroke: grey;
        fill: black;
        transform-origin: 50% 50%;
        stroke-width: 8px;

    }
}
        .playing-animation {
            path {
                animation: vinyl 4s infinite linear;
            }
        }

@keyframes vinyl {
    0% {
        transform:  rotate(0deg);
    }
    100% {
        transform:  rotate(300deg);
    }
}


svg#record-player {
    width: 170px;
    height: 130px;
}

.video-info {
    display: flex;
    justify-content: center;
    .artist {
        color: white;
        font-weight: 800;
        font-size: 2rem;
        text-align: center;
    }
}
.video-img-container {
    display: flex;
    justify-content: center;
    position: relative;
    .video-img {
        width: 12rem;
        height: auto;
        align-self: center;
        position: absolute;
        z-index: 9;
        right: 65px;
        top: 15px;
        transform: rotateZ(-10deg) rotateY(30deg);
        transform-origin: 50% 50%;
    }
}