<!-- <ion-fab *ngIf="dht.humedad && dht.temperatura" top right color="primary">
    <div ion-fab mini color="dark">
        <span>
            {{ dht.humedad }}
        </span>
    </div>
    <div ion-fab mini color="dark">
        <span>
            {{ dht.temperatura }}
        </span>
    </div>
</ion-fab>

<ion-fab top right>
    <div ion-fab mini> lksajdlksajd</div>
</ion-fab> -->
lalalala
<!-- {{ dht | json }} -->
{{ core | json }}
{{ ds18b20 | json }}
<!-- {{ stats | json }} -->

<!-- <div *ngIf="ds18b20Temp?.value" top left ion-fab mini color="warning">
        <span>
            {{ ds18b20Temp?.value }} {{ ds18b20Temp?.unit }}
        </span>
    </div> -->
<!-- <div *ngIf="ds18b20Temp?.value" top left ion-fab mini color="dark">
        <span>
            {{ ds18b20Temp?.value }}
        </span>
    </div> -->
<!-- </ion-fab> -->
<!-- <ion-chip *ngIf="ds18b20?.temperature?.value" color="warning">
    <ion-icon name="heart" color="dark"></ion-icon>
    <ion-label>{{ ds18b20?.temperature?.value }} {{ ds18b20?.temperature?.unit }}</ion-label>
</ion-chip>

<ion-fab top right>
    <div *ngIf="core?.temperature?.value" top right ion-fab mini [color]="coreTempStatus()">
        <span>
            {{ core.temperature?.value }} {{ core.temperature?.unit}}
        </span>
    </div>
    <div *ngIf="ds18b20.temperature?.value" top right ion-fab mini [color]="roomTempStatus()">
        <span>
            {{ ds18b20.temperature?.value }} {{ ds18b20.temperature?.unit }}
        </span>
    </div>

</ion-fab> -->